<div class="container">

  <header>

    <mat-icon aria-hidden="false" aria-label="Example home icon">commute</mat-icon>

    <h2>Tickets</h2>

    <h4>This simple project was created to demonstrate Fullstack Development skills.
      The front-end is very simple, but the internation organization of the components, state management,
      SOLID principles in the API can demonstrate interesting architectural elements.
    </h4>

  </header>

  <main>

    <div class="search">

      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="enSort" (click)=onSort(enSort)>
        <mat-button-toggle [value]="ENSORT.Price">Price</mat-button-toggle>
        <mat-button-toggle [value]="ENSORT.Time">Time</mat-button-toggle>
      </mat-button-toggle-group>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <input type="text" matInput placeholder="Destination..." [(ngModel)]="keyword"
            (change)="onSearchChange($event)" (keyup.enter)="onSearchChange($event)"
            (keyup.esc)="keyword = ''">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>

    </div>


    <mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">

      <mat-grid-tile *ngFor="let ticket of (tickets$ | async)">

        <app-card-ticket [ticket]="ticket" (buttonAction)="buttonAction($event)"></app-card-ticket>

      </mat-grid-tile>

    </mat-grid-list>

  </main>

</div>