<div class="container">

  <header>

    <mat-icon aria-hidden="false" aria-label="Example home icon">commute</mat-icon>

    <h2>Tickets</h2>

    <h4>This simple project was created to demonstrate Fullstack Development skills.
      The front-end is very simple, but the internation organization of the components, state management,
      SOLID principles in the API can demonstrate interesting architectural elements.
    </h4>

  </header>

  <main>

    <mat-grid-list cols="3" rowHeight="1:1">

      <mat-grid-tile *ngFor="let ticket of (tickets$ | async)">

        <app-card-ticket [ticket]="ticket" (buttonAction)="buttonAction($event)"></app-card-ticket>

      </mat-grid-tile>

    </mat-grid-list>

  </main>

</div>