<mat-card class="example-card">

  <mat-card-header>

    <div mat-card-avatar class="example-header-image" [class.return]="ticket?.SingleOrReturn !== 'S'">{{
      ticket?.SingleOrReturn ? 'S' : 'R' }}</div>

    <mat-card-title>TO: {{ ticket?.to }}</mat-card-title>

    <mat-card-subtitle>FROM: {{ ticket?.from }}</mat-card-subtitle>

    <h4>DEPARTURE: {{ ticket?.DepTime }}</h4>
    
  </mat-card-header>

  <mat-card-content>
    <p>{{ ticket?.TicketDescription }}</p>

    <div [ngSwitch]="!!ticket?.AdtPrice">
      <div *ngSwitchCase="true">
        <h2>Prices:</h2>
        <p>Adult: {{ ticket?.AdtPrice }}</p>
        <p>Children: {{ ticket?.ChdPrice }}</p>
      </div>
      <div class="no-prices" *ngSwitchDefault>Go to the Information Desk to know more about the prices and availability.
      </div>
    </div>

    <p>Single Or Return? {{ ticket?.SingleOrReturn === 'S' ? 'Single' : 'Return' }}</p>

    <h4>Operated by:
      <mat-chip-list aria-label="Fish selection">
        <mat-chip [color]="ticket?.Operator ? 'accent' : 'primary'" selected>{{ ticket?.Operator || 'N/A' }}
        </mat-chip>
      </mat-chip-list>
    </h4>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button type="button" mat-button (click)="buttonClick('buy')">BUY</button>
    <button type="button" mat-button (click)="buttonClick('share')">SHARE</button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>

</mat-card>